/**
 * CSS for the plugin settings page.
 */
.appearance_page_cleaner-gallery .form-table th {
	width: 20%;
	font-weight: bold;
	}
.appearance_page_cleaner-gallery .metabox-holder .column-1 {
	float: left;
	width: 66%;
	}
.appearance_page_cleaner-gallery .metabox-holder .column-2 {
	float: right;
	width: 32%;
	}
.appearance_page_cleaner-gallery .hook-editor {
	overflow: hidden;
	}
.appearance_page_cleaner-gallery p.submit {
	clear: both;
	}
.appearance_page_cleaner-gallery textarea {
	width: 99.5%;
	}
.appearance_page_cleaner-gallery .postbox .inside p, 
.appearance_page_cleaner-gallery .postbox .inside label, 
.appearance_page_cleaner-gallery .postbox .inside li, 
.appearance_page_cleaner-gallery .postbox .inside a,
.appearance_page_cleaner-gallery .postbox .inside label {
	font-size: 11px;
	line-height: 175%;
	}
.appearance_page_cleaner-gallery .postbox form {
	line-height: 150%;	
	}
.appearance_page_cleaner-gallery div.inside ul {
	margin-left: 20px;
	}
.appearance_page_cleaner-gallery div.inside ul li {
	list-style: square;
	line-height:16px;
	}
.appearance_page_cleaner-gallery div.inside .alignleft {
	width: 45%;
	float: left;
	}
.appearance_page_cleaner-gallery div.inside .alignright {
	width: 45%;
	float: right;
	text-align: right;
	}