/* Theme settings page. */
.form-table th {
	width: 20%;
	font-weight: bold;
	}
.metabox-holder .column-1 {
	width: 100%;
	}
.metabox-holder .column-2 {
	float: left;
	width: 49%;
	}
.metabox-holder .column-3 {
	float: right;
	width: 49%;
	}